.map {
  height: 100%;
  width: 100%;
  margin: 0;
}

.full-height-width {
  height: 100%;
  width: 100%;
}

[class*=hint--] {
  position: relative;
  display: inline-block;
}

.panel-wrapper {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.scrollbar-x {
  overflow-x: 'auto'
}

.layer-list {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 12;
}

.basemap_button {
  position: fixed;
  top: 70px;
  left: 20px;
  z-index: 1;
}

.legends {
  top: 120px;
  position: absolute;
  left: 20px;
}

.zoom {
  position: fixed;
  right: 20px;
  top: 20px !important
}

.bottom-chips {
  position: absolute;
  bottom: 0px;
  display: flex;
  width: 100%;
  flex-wrap: 'wrap',
}

.chipsWrap {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
}
